circle( values... )
    if length( values ) == 2
        width values[ 0 ] || auto
        height values[ 1 ] || auto
    else
        width values[ 0 ] if values[ 0 ] != false
        height values[ 0 ] if values[ 0 ] != false
    border-radius 50%