hexagon(width, color)
	height = (width / 1.73190162798753)
	margin = (height / 2)
	width width
	height height
	position relative
	margin margin 0
	background color
	&:before
	&:after
		content ''
		position absolute
		width 0
		border-left ( width / 2 ) solid transparent
		border-right ( width / 2 ) solid transparent
	
	&:before
		bottom 100%
		border-bottom margin solid color
		
	&:after
		top 100%
		width 0
		border-top margin solid color