triangle(direction, size, color)
	size = (size / 2)
	width 0
	height 0
	border-style solid
	if direction == up
		border-width 0 size size size
		border-color  transparent transparent color transparent
	if direction == right
		border-width  size 0 size size
		border-color  transparent transparent transparent color
	if direction == bottom
		border-width  size size 0 size
		border-color  color transparent transparent transparent 
	if direction == left
		border-width  size size size 0
		border-color  transparent color transparent transparent 

ltriangle(direction, size, color)
	width 0
	height 0
	border-style solid
	if direction == up
		border-width 0 (size / 2) size (size / 2)
		border-color  transparent transparent color transparent
	if direction == right
		border-width  (size / 2) 0 (size / 2) size
		border-color  transparent transparent transparent color
	if direction == bottom
		border-width  size (size / 2) 0 (size / 2)
		border-color  color transparent transparent transparent 
	if direction == left
		border-width  (size / 2) size (size / 2) 0
		border-color  transparent color transparent transparent 