@import '../lib/index'
@import 'animate'

/* ===============
   COLORES
   =============== */

negro = #2f2f30
negro_2 = #434343
azul = #25a8cc
gris = #f3f0f0
border-color = #A3A2A3
light-gray = #cacaca
/* ===============
   RESETS
   =============== */

normalize()
box_reset()

ul
nav
li
figure
p
h1
h2
h3
	margin 0
	padding 0

a
	text-decoration none

html
body
	size(100%)
body
	background gris
	
	
li
	list-style none


	
/* ===============
   USEFUL CLASS
   =============== */
  
.center-text
	text-align center

.overflow
	overflow hidden
	size(100%)
	position fixed

.active
	background azul
	svg
		fill white
	&:after
		content ''
		triangle(bottom, 15px, azul)
		position absolute
		bottom -7px
		left 50%
		margin-left -7px
		z-index 500

.mostrar-menu
	display block !important


.web-container
	max-width 1280px
	margin auto
	clearfix()
	
	
/* ===============
   TIPOGRAFIA 
   =============== */
   
h2
h1
	font-family 'Roboto Condensed', sans-serif
h3
p
	font-family 'Roboto', sans-serif
	



/* ===============
   OVERLAY/LOGIN
   =============== */

.overlay
	position fixed
	display none
	size(100%)
	background rgba(black, .25)
	top 0
	left 0
	z-index 999
	.login-form
		width 90%
		height auto
		animation-duration 500ms
		background white
		position relative
		margin auto
		top 1em
		padding 1em
		text-align center
		box-shadow 0px 0px 5px rgba(negro, .50)
		@media screen and (min-width: 1024px)
			size(600px, auto)
			padding 30px
			text-align left
		.login-error
			position relative
			span
				font-size em(15px)
				position absolute
				right em(28px)
				top 10px
				color white
				display inline-block
				circle(20px)
				background #d62d20
				text-align center
				line-height 20px
				@media screen and (min-width: 1024px)
					top 14px
					right 1em
		.close-login
			size(25px)
			background azul
			position absolute
			top 0
			right 0
			fill white
			text-align center
			cursor pointer
			@media screen and (min-width: 1024px)
				size(40px)
				line-height 40px
			svg
				size(100%)
				@media screen and (min-width: 1024px)
					size(30px)
					vertical-align middle
		h2
			font-size em(20px)
			text-align center
			margin-bottom 10px
			font-weight 300
			@media screen and (min-width: 1024px)
				font-size em(30px)
				margin-bottom 15px
		p
			font-size 3vw
			margin-bottom 10px
			@media screen and (min-width: 1024px)
				font-size 1em
				font-weight 300
				color negro_2
				text-align center
				margin-bottom 25px
		.btn-wrapper
			@media screen and (min-width: 1024px)
				display inline-block
				vertical-align top
				margin-right 5px
				width 49%
		.btn
			width 80%
			line-height 45px
			margin auto
			margin-bottom 5px
			height 45px
			display block
			background red
			border-radius 3px
			position relative
			font-size em(12px)
			text-align right
			padding-right 1em
			font-weight 300
			font-family 'Roboto', sans-serif
			border 1px solid rgba(border-color, .50)
			@media screen and (min-width: 1024px)
				width 100%
				margin-bottom 12px
				padding-left 40px
				height 50px
				line-height 50px
				font-size em(14px)
			svg
				size(45px)
				top -1px
				border-radius 3px 0px 0px 3px
				//top 15px
				fill white
				position absolute
				left 0
				padding 10px
				background red
				@media screen and (min-width: 1024px)
					size(50px)
		.facebook-login
			background white
			color negro
			svg
				background #46619c
		.google-login
			background white
			color negro
			svg
				fill white
				background #d62d20
		hr
			width 90%
			background rgba(#a3a2a3, .25)
			height 1px
			border 0
			@media screen and (min-width: 1024px)
				display none
		form
			@media screen and (min-width: 1024px)
				width 49%
				display inline-block
				vertical-align top
				text-align center
		.login-wrapper
			width 90%
			margin auto
			@media screen and (min-width: 1024px)
				width 100%
		input[type="text"]
		input[type="password"]
			size(90%, 40px)
			margin-bottom 5px
			border-radius 3px
			padding-left 5px
			font-family 'Roboto', sans-serif
			font-weight 300
			border 1px solid rgba(border-color, .50)
			@media screen and (min-width: 1024px)
				height 50px
				width 100%
				margin-bottom 12px
		input[type="password"]
			margin-bottom 1em
		span
			font-size em(10px)
			color #a3a2a3
			display block
			text-align left
			font-weight 300
			margin-bottom 5px
		.contraseña
			text-decoration underline
			font-size em(14px)
			font-weight 300
			color negro
			font-family 'Roboto', sans-serif
			float left
		input[type="checkbox"]
			circle(12px)
			border-radius 0
			float right
		label
			font-size em(12px)
			float right
			margin-left 5px
			font-family 'Roboto', sans-serif
			font-weight 300
			font-size em(12px)
			color border-color
		button
			border-radius 3px
			background azul
			color white
			margin 10px auto 0px
			width 100%
			height 34px
			line-height 34px
			border none
			font-family 'Roboto', sans-serif
			font-weight 300
			position relative
		.cuenta
			margin-bottom 0px
			@media screen and (min-width: 1024px)
				//text-align center
				//margin-top 1em
				//margin-top -80px
				//float left
				//font-size em(25px)
				//width 250px
				display none
		.login-link
			color azul 
			text-align center
			font-size em(14px)
			@media screen and (min-width: 1024px)
				//margin-top -40px
				//width 250px
				display none
/* ===============
   HEADER
   =============== */

/* MENU ICON */

.menu-icon
	fill white
	size(30px)

.top-nav 
	background negro
	size(100%, 48px)
	color white
	font-family 'Roboto Condensed', sans-serif
	z-index 500
	position fixed
	clearfix()
	top 0
	@media screen and (min-width: 1024px)
		height 70px
	header
		@media print
			display none
		@media screen and (min-width: 1024px)
			max-width 1280px
			margin auto
			position relative
		figure
			size(100%, 48px)
			line-height 48px
			display inline-block
			text-align center
			@media screen and (min-width: 1024px)
				width 222px
				line-height 70px
				height 70px
			img
				vertical-align middle
				padding-left em(5px)
			.logo-mobile
				@media screen and (min-width: 1024px)
					display none
			.logo-desktop
				display none
				@media screen and (min-width: 1024px)
					display inline-block
					height 40px
		.mobile-menu
			size(48px)
			display inline-block
			position absolute
			right 0
			top 0
			.menu-icon
				position relative
				top 9px
			@media screen and (min-width: 1024px)
				display none
		.login-menu-button
			circle(48px)
			position absolute
			top 0
			left 0
			overflow hidden
			@media screen and (min-width: 1024px)
				right 0
				left auto
				z-index 500
				size(270px, 70px)
				border-radius 0
				position absolute
			#profile-photo
			#login-button
				img
					width 100%
					height auto
					padding 7px
			#profile-photo
				size(250px, 70px)
				div
					circle(35px)
					overflow hidden
					margin-top 6px
					margin-left 6px
					img
						padding 0
					@media screen and (min-width: 1024px)
						circle(50px)
						margin-top 10px
						border 2px solid azul
						margin-left 0
						margin-right 0
						float right
						display inline-block
						img
							width 100%
							padding 0
			#login-button
			#sign-up-button
				circle(48px)
				@media screen and (min-width: 1024px)
					size(110px, 30px)
					border-radius 2px
					text-align center
					line-height 30px
					font-size em(14px)
					font-weight 300
					background azul
					cursor pointer
					transition all 500ms
					margin-top 21px
					display inline-block
					&:hover
						background rgba(azul, .90)
					img
						display none
			#sign-up-button
				display none
				a
					color white
					display block
				@media screen and (min-width: 1024px)
					display inline-block	
		.login
		nav
			width 80%
			height  auto
			position fixed
			background negro_2
			top 48px
			padding-bottom 1.5em
		.login
			left 0
			animation-duration: 500ms;
			display none
			z-index 500
			@media screen and (min-width: 1024px)
				position absolute
				left auto
				right 0
				box-shadow 0px 1px 5px rgba(negro, .75)
				size(275px, auto)
				top 65px
				border-radius 3px
				padding-bottom 0
				&:before
					content ''
					triangle(up, 20px, negro_2)
					display block
					top -10px
					right 33px
					position absolute
			.user-name
				clearfix()
				border-bottom 1px solid rgba(negro, .25)
				padding 1em
				span
					font-size em(20px)
					float left
				a
					color azul
					float right
			.user-nav
				ul
					li
						width 100%
						text-align left
						display block
						position relative
						clear both
						transition background 250ms
						&:hover
							background rgba(border-color, .20)
						a
							color white
							font-size .9em
							line-height 40px
							display block
							font-weight 300
							font-family 'Roboto', sans-serif
							padding-left 25px
							padding 0em 1em 0em 3em
							@media screen and (min-width: 1024px)
								line-height 45px
						&:before
							content ''
							size(16px)
							position absolute
							top 12px
							left 1em
						&:nth-child(1)		
							&:before
								background url('../svg/perfil.svg')
								background-repeat no-repeat
								background-size contain
						&:nth-child(2)		
							&:before
								background url('../svg/mensajes.svg')
								background-repeat no-repeat
								background-size contain
						&:nth-child(3)		
							&:before
								background url('../svg/anuncios.svg')
								background-repeat no-repeat
								background-size contain
						&:nth-child(4)		
							&:before
								background url('../svg/favoritos.svg')
								background-repeat no-repeat
								background-size contain
						&:nth-child(5)		
							&:before
								background url('../svg/alertas.svg')
								background-repeat no-repeat
								background-size contain
						span
							background azul
							circle(20px)
							display inline-block
							vertical-align middle
							line-height 20px
							text-align center
							float right
							margin-top 10px
							font-size em(12px)
							//margin-top -3px
			.btn
				size(200px, 40px)
				background azul
				margin 1em auto 0em
				display block
				color white
				text-align center
				line-height 40px
				border-radius 1px
				@media screen and (min-width: 1024px)
					display none
		nav
			right 0
			display none
			animation-duration: 500ms;
			@media screen and (min-width: 1024px)
				display inline-block
				float right
				background none
				width auto
				position absolute
				top 0
				height 70px
				left 200px
				padding 0
			.login-options
				text-align center
				a
					color azul
					width 49%
					line-height 40px
					font-size em(14px)
					display inline-block
			ul
				width 100%
				z-index 60
				clear both
				@media screen and (min-width: 1024px)
					background inherit
				li
					width 92%
					text-align right
					display block
					position relative
					@media screen and (min-width: 1024px)
						display inline-block
						width auto
						margin-left 3em
						text-align center
					a
						color white
						font-size .9em
						line-height 48px
						display block
						font-weight 300
						font-family 'Roboto', sans-serif
						@media screen and (min-width: 1024px)
							line-height 70px
						svg
							fill azul
							size(15px)
							position absolute
							right 2em
							top 15px
							transition rotate 1s ease-out
							@media screen and (min-width: 1024px)
								display none
							
					@media screen and (min-width: 1024px)
						li
						&:hover ul 
							display block
					ul
						display none
						background border-color
						@media screen and (min-width: 1024px)
							position absolute
							width auto
							background gris
							box-shadow 0px 0px 5px rgba(negro_2, .50)
							li
								width 250px
								text-align left
								@media screen and (min-width: 1024px)
									margin 0
								a
									color negro_2
									display block
									padding-left 1em
									@media screen and (min-width: 1024px)
										line-height 48px
									&:hover
										background negro_2
										color white



/* ===============
   USER PROFILE
   =============== */

.profile-wrapper
	margin 48px auto 0
	max-width 1080px
	padding 1em 0em
	clearfix()
	@media screen and (min-width: 1024px)
		margin-top 70px
	.profile-sidebar
		width 100%
		margin auto
		@media screen and (min-width: 1024px)
			float left
			width 250px
		.profile-photo
			width 250px
			margin auto
			background white
			position relative
			border 1px solid rgba(border-color, .25)
			span
				line-height 50px
				text-align center
				display block
			.photo
				overflow hidden
				width 100%
				height 235px
				img
					width 100%
			&:hover
				.upload
					opacity 1
			.upload
				position absolute
				bottom 55px
				right 10px
				opacity 0
				transition all 250ms
				svg
					fill azul
					size(30px)
					
		.profile-nav
			font-family 'Roboto', sans-serif
			font-weight 300
			margin 1em 0em
			ul
				font-size 0
				@media screen and (min-width: 1024px)
					border 1px solid rgba(border-color, .25)
				li
					display inline-block
					width 50%
					text-align center
					line-height 48px
					margin 0
					font-size 16px
					padding 0
					background white
					border-bottom 1px solid rgba(border-color, .25)
					border-right 1px solid rgba(border-color, .25)
					a
						position relative
						display block
						&:after
							content ''
							size(48px)
							display block
							position absolute
							top 0
							left 0
					&:nth-child(1)
						a:after
							background url('../svg/perfil.svg')
							background-position center
							background-repeat no-repeat
					&:nth-child(2)
						border-right 0
						a:after
							background url('../svg/anuncios.svg')
							background-position center
							background-repeat no-repeat
					&:nth-child(3)
						a:after
							background url('../svg/mensajes.svg')
							background-position center
							background-repeat no-repeat
					&:nth-child(4)
						border-right 0
						a:after
							background url('../svg/favoritos.svg')
							background-position center
							background-repeat no-repeat
					a
						color negro
						@media screen and (min-width: 1024px)
							padding-left 50px
					@media screen and (min-width: 1024px)
						width 100%
						display block
						border 0
						text-align left
						img
							margin-right 2px
				.active-profile-nav
					background azul
					a
						color white

	.profile-info
		background white
		position relative
		padding  em(22px)
		margin 0em 1em
		border 1px solid rgba(border-color, .25)
		@media screen and (min-width: 1024px)
			float right
			margin 0
			width calc(100% - 270px)
		.profile-column
			margin-bottom 20px
			position relative
			@media screen and (min-width: 1024px)
				height 50px
		.title
			margin-bottom 10px
			display block
			width 100px
			@media screen and (min-width: 1024px)
				display inline-block
				vertical-align top
			h2
				font-size 1em
				color negro
				font-family 'Roboto Condensed', sans-serif
				font-weight 300
				line-height 45px
				@media screen and (min-width: 1024px)
					font-weight 400
					line-height 50px
		.tooltip
			position absolute
			right 1em
			top 0
			display none
			size(235px, auto)
			padding 0em em(30px)
			border 1px solid rgba(border-color, .25)
			box-shadow 0px 1px 1px rgba(negro, .10)
			h3
				font-weight 400
				margin 1em 0
				font-family 'Roboto Condensed', sans-serif
			p
				text-align justify
				margin-bottom 2em
				color negro_2
				font-weight 300
			svg
				circle(50px)
				padding 10px
				fill white
				background azul
				margin-top -27px
		.information-input
			height 45px
			@media screen and (min-width: 1024px)
				display inline-block
				width 50%
				height 50px
			input[type="text"]
			select
				border-radius 2px
				border 1px solid rgba(border-color, .25)
				font-size em(14px)
				font-family 'Roboto', sans-serif
				font-weight 300
				-webkit-appearance none	
			select
				height 100%
			#month
				width 45%
			#day
				width 23%
			#year
				width 28%
			input[type="text"]
				size(100%)
				padding-left 5px
			label
				cursor pointer		
			input[type="radio"]
				position absolute
				opacity 0
			input[type="radio"]:checked + label
				fill white
			input[type="radio"]:checked + .male-svg
				background #25a7cb
			input[type="radio"]:checked + .female-svg
				background #e97862
			label
				circle(50px)
				display inline-block
				svg
					fill gris
					circle(50px)
					padding 5px
					background border-color
		button
			width 100%
			border-radius 2px
			line-height 45px
			color white
			-webkit-appearance none
			background azul
			border 0
			@media screen and (min-width: 1024px)
				width 200px
/* ===============
   SEARCH BOX
   =============== */
   
#search-box
	background url('..//img/panorama.jpg')
	width 100%
	height 500px
	background-size cover
	background-repeat no-repeat
	margin-top 48px
	position relative
	@media screen and (min-width: 1024px)
		margin-top 70px
		height 700px
	.web-container
		height 100%
		position relative
	.tabs
		max-width 720px
		margin 0 auto 5px
		text-align center
		@media screen and (min-width: 1024px)
			text-align left
		div
			size(49.2%, 50px)
			display inline-block
			line-height 50px
			background rgba(negro, .50)
			color white
			text-align center
			cursor pointer
			@media screen and (min-width: 1024px)
				size(150px, 50px)	
	.search
		position absolute
		top 40%
		margin-top -100px
		width 100%
		text-align center
		padding 0em 1em
		@media screen and (min-width: 1024px)
			top 50%
			padding 0
		.input-container
			width 100%
			max-width 720px
			margin auto
			position relative
			.search-icon
				size(50px)
				display block
				z-index 200
				position absolute
				right 0
				line-height 50px
				text-align center
				svg
					size(15px)
					vertical-align middle
					fill azul
		input
			height 50px
			width 100%
			border 0
			box-shadow 0px 1px 5px rgba(negro, .15)
			font-family 'Roboto Condensed', sans-serif
			font-weight 300
			background rgba(white, .90)
			font-size 1rem
			padding-left em(10px)
		
	.active-tab
		background rgba(negro, .80) !important
		

/* ===============
   LOGIN 
   =============== */
   
.login-container
	position absolute
	top 0
	left 0
	size(100%)
	padding 0em em(10px)
	text-align center
	font-family 'Roboto', sans-serif
	.login 
		width 100%
		position relative
		margin auto
		height auto
		top 1em
		@media screen and (min-width: 1024px)
			width 580px
		div
			background white
			box-shadow 0px 1px 3px rgba(negro, .10)
			border-left 1px solid rgba(border-color, .50)
			border-right 1px solid rgba(border-color, .50)
			border-bottom 1px solid rgba(border-color, .50)
			border-radius 0px 0px 3px 3px
			padding 1em
			@media screen and (min-width: 1024px)
				padding 1em
			form
				padding 1em
				@media screen and (min-width: 1024px)
					padding 10px 2em
			h2
				font-size em(25px)
				font-weight 300
				@media screen and (min-width: 1024px)
					margin-bottom 10px
					font-size 2em
			input
				size(100%, 50px)
				border-radius 3px
				border 1px solid rgba(border-color, .50)
				margin-bottom 10px
				font-weight 300
				-webkit-appearance: none;
				padding-left 10px
				@media screen and (min-width: 1024px)
					margin-bottom 25px
			button
				size(175px, 50px)
				background rgba(border-color, .60)
				border none
				color white
				font-family 'Roboto Condensed', sans-serif
				font-weight 300
			p
				font-size em(18px)
				margin auto
				line-height 1.4
				display block
				font-weight 300
				color negro_2
				margin-bottom 10px
				@media screen and (min-width: 1024px)
					width 70%
		.sign-small-text
			font-size em(13px)
			margin-top 10px
			a
				color azul
		.logo-login
			padding 0
			background negro
			line-height 50px
			border-radius 3px 3px 0px 0px
			@media screen and (min-width: 1024px)
				line-height 70px
			img
				height 25px
				vertical-align middle
				@media screen and (min-width: 1024px)
					height 30px
		.login-sent-image
			height 85px
			margin 2em


/* ===============
   CAROUSEL 
   =============== */
  
.slick-dots
	text-align center
	li
		display inline-block
		button
			display none
		&:after
			content ''
			display inline-block
			circle(15px)
			background border-color
			margin 3px
			
/* DOT ACTIVE COLOR */
.slick-active
	&:after
		background azul !important
		
.carousel-container
	@media print
		display none
	clearfix()
	text-align center
	@media screen and (min-width: 1024px)
		max-width 1280px
		text-align left
		margin auto
	h3
	a
		margin 1em 1em	
	h3
		font-weight 300 
		border-bottom 1px solid border-color
		display inline-block
	a
		font-weight 700
		font-size 1em
		color azul
		float right
		font-family 'Roboto Condensed', sans-serif
		border-bottom 1px dotted rgba(border-color, .0)
		&:hover
			border-bottom 1px dotted border-color 
.carousel-item
	margin em(10px)
	background white
	height 200px
	border 1px solid rgba(border-color, .35);
	img
		width 100%
		height auto
	h2
	p
		font-weight 300
	h2
		font-size 1.5em
		color negro
	p
		font-size 1em
		color negro_2
		margin 0 0 .5em 0

.carousel-next
.carousel-prev
	fill border-color
	size(48px)
	padding 5px
	cursor pointer
	position absolute
	top 50%
	margin-top -48px

.carousel-prev
	left -48px

.carousel-next
	right -48px



/* ===============
   FOOTER
   =============== */
   
footer
	background negro
	font-family 'Roboto', sans-serif
	padding 1em 0 0
	text-align center
	@media screen and (min-width: 1024px)
		padding 2em 0em 0
	.footer-nav
	.footer-media
	.emprendox-footer
		margin-bottom 20px
		@media screen and (min-width: 1024px)
			margin-bottom 0
	.footer-nav
		overflow auto
		@media screen and (min-width: 1024px)
			display inline-block
			float left
			width 60%
			margin-bottom 1em
		ul
			li
				float left
				color white
				width calc(33.333333% - 20px)
				line-height 35px
				font-size em(13px)
				border 1px solid rgba(border-color, .25)
				border-radius 5px
				margin 10px
				font-weight 300
				font-family 'Roboto Condensed', sans-serif
				@media screen and (min-width: 1024px)
					border none
					border-radius 0
					font-weight 400
					width 250px
					margin 0
					font-size 1.1em
					text-align left
				ul
					display none
					@media screen and (min-width: 1024px)
						display block
					li
						display block
						width 100%
						font-size .875rem
						font-weight 300
						font-family 'Roboto', sans-serif
	.footer-media
		color white
		font-size em(13px)
		@media screen and (min-width: 1024px)
			text-align right
			float right
			margin 1em 0
		span
			display block
			margin-bottom 10px
		a
			display inline-block
			circle(40px)
			border 1px solid azul
			margin 0 5px
			svg
				fill azul
				size(40px)
				padding 8px
	.emprendox-footer
		@media screen and (min-width: 1024px)
			float right
			width 40%
			text-align right
		img
			height 25px
			margin-bottom 5px
			@media screen and (min-width: 1024px)
				display block
				float right
				margin-bottom 10px
		p
			font-size em(12px)
			color border-color
			@media screen and (min-width: 1024px)
				font-size em(14px)
				width 350px
				float right
				clear both
	.copy-right
		clear both
		font-size em(13px)
		color border-color
		font-weight 300
		line-height 35px
		border-top 1px solid rgba(border-color, .25)

/* ==========================================================================================
   FILTROS
   ========================================================================================== */
   
@import 'nouislider.styl'

.filtros
	background gris
	width 100%
	height auto
	padding 0em em(10px)
	position relative
	@media screen and (min-width: 1024px)
		float left	
		width 250px
		margin-top 48px
		h2
			display none
	.space
		padding .5em
		border 1px solid rgba(border-color, .35);
		background white
		width 100%
		margin 5px 0px
		box-shadow 0px 1px 2px rgba(border-color, .35);
	li
		margin em(5px) 0em
	h2
		font-weight 300
		text-align center
		color border-color
		padding em(10px)
	span
		font-family 'Roboto Condensed', sans-serif
		font-weight 700
		margin auto
		color azul
		font-size em(25px)
		@media screen and (min-width: 1024px)
			font-size 1.1em
			font-weight 400
	input[type="checkbox"]
		display none
	label
		font-family 'Roboto', sans-serif
		font-weight 300
		font-size em(20px)
		position relative
		margin-left 40px
		line-height 40px
		cursor pointer 
		@media screen and (min-width: 1024px)
			margin-left 25px
			font-size 1em
			line-height 30px
			border-bottom 1px dotted border-color
		svg
			circle(30px)
			background light-gray
			padding em(5px)
			fill rgba(white, .0)
			transition all 1s
			position absolute
			top -2px
			left -40px
			@media screen and (min-width: 1024px)
				circle(20px)
				left -25px
				top 0
	select
		width 100%
		height 35px
		margin 5px 0px
	input[type="checkbox"]:checked + label
		svg
			fill white
			background azul
	#slider-tooltip
		margin 3em 2em 1em 
	.botones
		text-align center
		width 100%
		margin .5em 0em
		@media screen and (min-width: 1024px)
			display none
		button
			border-radius 0px
			-webkit-appearance none
			width 125px
			height 48px
			background azul
			color white
			border 1px solid rgba(border-color, .35)
.tooltip 
	display block
	position absolute
	border 1px solid #D9D9D9
	font 400 12px/12px Arial
	border-radius 3px
	background #fff
	top -30px
	padding 5px
	text-align center
	span
		font-family 'Roboto', sans-serif
		font-weight 300
		font-size em(14px)
		@media screen and (min-width: 1024px)
			font-size 1em
/* ==========================================================================================
   ANUNCIOS
   ========================================================================================== */
.anuncios
	width 100%
	background gris
	font-family 'Roboto Condensed', sans-serif
	@media screen and (min-width: 1024px)
		margin-top 48px
	.numero-anuncios
		margin 0em 1em
		span
			font-size 4em
			font-weight 100
			color azul
			font-family 'Roboto', sans-serif
		strong
			font-weight 700
			color negro_2
			font-size 1.5em
	.left
		@media screen and (min-width: 1024px)
			float left
	.right
		@media screen and (min-width: 1024px)
			float right
			width calc(100% - 380px)
			padding-left 1em
	@media screen and (min-width: 1024px)
		width calc(100% - 250px)
		float right
		padding 0
	.anuncio
		background white
		position relative
		margin .5em .5em
		@media screen and (min-width: 1024px)
			margin .3em 0em
		clearfix()
		border 1px solid rgba(border-color, .35)
		@media screen and (min-width: 1024px)
			height 250px
		img
			width 100%
			height auto
			padding em(5px)
			@media screen and (min-width: 1024px)
				width 380px
				height 250px
				float left
	.favorito
		fill border-color
		size(35px)
		float right
		margin  0em .5em
		svg
			size(35px)
		@media screen and (min-width: 1024px)
			position absolute
			right 0
			top -8px
	.precio
	.nombre
	.lugar
	.descripcion
		margin .2em .5em
		@media screen and (min-width: 1024px)
			display block
			margin 0
	.precio
	.lugar
		font-family 'Roboto Condensed', sans-serif
	.precio
		font-weight 400
		color azul
		font-weight bold
		font-size 1.1em
		@media screen and (min-width: 1024px)
			margin 1em 0em .5em
	.nombre
	.descripcion
		font-weight 300
	.lugar
		color negro_2
	.nombre
		font-size 1.6em
		color negro
		margin 0
		@media screen and (min-width: 1024px)
			margin .5em 1em .5em 0em
	.descripcion	
		text-align justify
		color border-color
		font-size 1em
		padding-right 1em
		@media screen and (min-width: 1024px)
			margin .5em 0em
			padding-right 5em
	button
		-webkit-appearance none
		width 125px
		height 40px
		background azul
		border 1px solid rgba(border-color, .35)
		color white
		margin .5em
		float right
.paginacion
	width 250px
	margin auto
	ul
		height 50px
		li
			size(40px)
			float left
			margin 0em em(5px)
			background azul
			color white
			line-height 40px
			text-align center
			font-family 'Roboto Condensed', sans-serif
			svg
				fill white
				size(20px)
				vertical-align middle

/* ==========================================================================================
   ANUNCIO PUBLICADO
   ========================================================================================== */
   
.anuncio-title
	position relative
	@media screen and (min-width: 1024px)
		background white
		z-index 250
		width 100%
		top 48px
		border-bottom 1px solid rgba(border-color, .35)
		box-shadow 0px 1px 2px rgba(border-color, .35)
	@media print
		position relative
	.title
		max-width 1280px
		margin auto
		padding .5em
		position relative
		clearfix()
		button 
			display none
			-webkit-appearance none
			position absolute
			right 1em 
			top 1.3em
			height 50px
			font-size .9em
			padding 0em 1em
			background azul
			border-radius 2px
			border none
			font-family 'Roboto Condensed', sans-serif
			color white
			transition all .5s ease
			&:hover
				background rgba(azul, .75)
			@media screen and (min-width: 1024px)
				display block
		h1
		a
			font-family 'Roboto', sans-serif
			font-weight 100
		a
			font-weight 300
			color negro_2
			text-decoration underline
			@media screen and (min-width: 1024px)
				padding-left 1em
		span
		a
			font-family 'Roboto Condensed', sans-serif
			margin .5em 0em
		span
			color azul
			font-weight 700
			position relative
			svg
				fill border-color
				size(15px)
				@media screen and (min-width: 1024px)
					position absolute
					left 0
					top 2px
		.precio
			display block
			@media screen and (min-width: 1024px)
				display inline-block
				border-right 1px dotted border-color
				padding-right .5em
				font-size 1em
.anuncio-publicado
	max-width 1280px
	@media screen and (min-width: 1024px)
		margin auto

	.anuncio-slider
		width 100%
		margin .5em 0em
		position relative
		overflow hidden
		@media screen and (min-width: 1024px)
			height 500px
		img
			width 100%
			height auto
		.anuncio-controles
			width 100%
			position absolute
			top 50%
			margin-top -25px
			z-index 200
			padding 0em .5em
			@media print
				display none
			clearfix()
			#anuncio-next
			#anuncio-prev
				cursor pointer
			#anuncio-next
				float right
			#anuncio-prev
				float left
			svg
				fill azul
				circle(50px)
				background white
				padding em(13px)
				box-shadow 0px 0px 5px rgba(negro_2, .25)
	.anuncio-informacion
		margin .5em
		padding-left .5em
		background white
		border 1px solid rgba(border-color, .35)
		text-align center
		@media print
			border none
		@media screen and (min-width: 1024px)
			margin 0
		span
		.categoria
		.precio
		p
			text-align left
		span
			display block
			font-size 1.2em
		.categoria
			color negro_2
			font-weight 100
			padding .5em
			font-family 'Roboto', sans-serif
			@media screen and (min-width: 1024px)
				font-size 1.5em
				font-weight 300
		p
			font-family 'Roboto', sans-serif
			font-weight 300
			padding .5em .5em 
			color  negro_2
			@media print
				text-align justify
			@media screen and (min-width: 1024px)
				padding .5em .5em 1em
				font-size 1em
		button 
			-webkit-appearance none
			height 48px
			background azul
			border none
			color white
			margin .5em
			font-family 'Roboto Condensed', sans-serif
			@media print
				display none
			@media screen and (min-width: 1024px)
				display none
		.acerca
			color border-color
			font-family 'Roboto Condensed', sans-serif
			font-size em(14px)
			@media screen and (min-width: 1024px)
				font-size 1em
				margin .5em 0em
		.anuncio-botones
			@media print
				display none
			clearfix()
			float right
			.boton
				fill azul
				margin .5em
				float left
				svg
					size(25px)
	.anuncio-detalles
		display table
		margin .5em 0em
		width 100%
		@media screen and (min-width: 1024px)
			width 300px
			margin 0em
		.detalle
			clearfix()
			background azul
			width 100px
			display inline-block
			padding 2px
			margin .5em 
			box-sizing border-box
			span
			strong
				line-height 30px
				width 100%
			strong
				color white
				font-weight 400
				font-family 'Roboto Condensed', sans-serif
			span
				background white
				margin 0
				text-align center
				font-family 'Roboto Condensed', sans-serif
				
.social-media
	position fixed
	z-index 999
	width 100%
	height 100%
	text-align center
	background rgba(gris, .50)
	.close-social
		position absolute
		top 0
		right 0
		svg
			fill negro_2
			size(30px)
	.media-container
		vertical-align middle
		margin auto
		top 50%
		position relative
		margin-top -50px
		.media
			margin auto
			width 170px
			div
				float left
				margin .2em
				box-shadow 0px 0px 5px black
				background negro_2
				svg
					size(50px)
					fill white
					padding 5px
					border-radius 2px
					line-height 50px
					vertical-align middle

.mymove
	animation mymove .5s ease
	
@keyframes mymove {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

